:root {
	--color-primary : linear-gradient(to right, #cc2b5e, #753a88);
}


*.icon-white {color:white}
*.icon-silver {color:silver}
*.icon-purple {
	background: var(--color-primary);
	 -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

*.icon-dark {
	color:gray;
}
*.icon-dark:hover {
	color:gray;
    opacity: 0.6;
    text-decoration: none;
}


*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color:transparent;
}
*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #cc2b5e, #753a88);
  border-radius: 10px;
}



*.box-shadow {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1)
}

html {
	font-size: 12px;
}
.box-shadow-form {
	box-shadow: 0 0 1.5rem rgb(0 0 0 / 20%);
	border-radius: 10px;
}
.fixed-top {
	left: 1rem;
	right: 1rem;
}
.nav-link:hover {
		background: var(--color-primary);
	 -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	    border-color: #d9d9d9 #d9d9d9 #d9d9d9 !important; 
	
}
.nav-tabs {
	border-bottom: 1px solid #d9d9d9;
}

.btn:focus {
	box-shadow: none;
}
.head-text {
	margin-top: 7.5rem;
	margin-bottom: 2rem;
}
.modal-footer {
	border-top: none;
}

@media screen and (min-width: 1200px){

	html {
		font-size: 14px;
	}
}

/*------ Strat Login page --------*/



.container-flex {
	padding: 0;	
	display: flex;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	height: 50vh;
}

.col-md-6 {
	padding: 0;
	height: 100%;
	margin-right: 5rem;
}
.col-md-5 {
	background-color: #fbfbfb;
    margin: 20px 0px 30px 0;
    box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 24%);
    border-radius: 48px;
}
.login-logo {
	width: 8.125rem;
	height: 8.125rem;
	padding-bottom: 5px;
}

.login-img {
	padding: 4.375rem;
	width: 100%;
	height: 100%;
}
.flex-container {
	display: flex;
	text-align: center;
}


.link-fb,
.link-g {
	color: black;
    padding: 12px;
    border: 2px solid black;
	text-align: center;
	border-radius: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 16rem;
}

.link-fb:hover,
.link-g:hover
{
	text-decoration: none;
	cursor: pointer;
	border: transparent;
	border-radius: 24px;
	background-image: linear-gradient(white, white), var(--color-primary);
	background-origin: border-box;
	padding: 2px 2px;
	background-clip: content-box, border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #cc2b5e;
}

.login-input {
	height: 3.25rem;
	border-radius: 25px;
    padding: 1.25rem;
}

/*
.login-input:focus {
	border: transparent;
	border-radius: 24px;
	background-image: linear-gradient(white, white), var(--color-primary);
	background-origin: border-box;
	padding: 2px 2px;
	background-clip: content-box, border-box;
	box-shadow: none;
}
*/


.login-button {
	height: 3.25rem;
	width: 100%;
	border-radius: 25px;
  	background: var(--color-primary);
	color: white;
	font-size: 18px;
	border: none;
}
.login-button:hover{
  background: linear-gradient(to left, #cc2b5e, #753a88);
  color: white;
  transition: 1s ease;
  opacity: 0.8;
	
}


/* Start Responsive */

/* small screen*/


@media screen and (max-width: 767px){

	
	.flex-container{
		flex-direction: column;
	}
	
	.col-md-5{
		display: none !important;
	}
	.col-md-6{
		display: none !important;
	}
	
	.col-res-sm {
		display: inline-block !important;
	}


	.containerlogo-res-sm {
		margin-top: 20px !important;
	}
	.logo-res-sm {
		width: 6.25rem !important;
		height: 6.25rem !important;
	}

	.h2-res-sm{
		font-size: 22px;
	}
	
	.link-fb {
		width: 100% !important;
		margin-bottom: 1.25rem;

	}
	.link-fb:hover {
		height: 3.25rem;

	}

	
	.link-g
	{
		width: 100% !important;

	}
	.link-g:hover {
		height: 3.25rem;	
	}
	
	

	.icon-fb-res-sm {
		padding: 0 3rem 0 1.1rem !important;
	}
	.icon-g-res-sm {
		padding: 0 3rem 0 0 !important;
	}
	
	.link-fb:hover .icon-fb-res-sm{
		padding: 0 3rem 0 1.1rem !important;
	}
	
	.link-g:hover .icon-g-res-sm {
		padding: 0 3rem 0 0 !important;
	}
	
	
	
	.btn-res-sm {
		margin-top: 2rem !important;
	}
	
	.text-danger {
		padding-left: 1rem;
		margin-top: 0.3rem;
	}
}
@media screen and (max-width: 992px){

	#navbar-item {
		display: none;
	}
}
/* medium screen*/
@media screen and (min-width: 768px) and (max-width: 1024px){

	.col-md-6 {
		display: none !important;
	}
	.col-md-5 {
		display: none !important;
	}
	.col-md-12 {
		display: inline-block !important;
	}
	.link-fb-res-md {
		width: 45% !important;
		margin-right: 0 !important;
	}

	.link-g-res-md {
		width: 45% !important;
		margin-right: 0 !important;
	}
	
	
	.textSignFB,
	.textSignG {
		padding-left: 6rem;
	}
	
	.link-fb-res-md:hover .textSignFB,
	.link-g-res-md:hover .textSignG {
		padding-left: 6rem;
	}
	
	
	.text-danger {
		padding-left: 1rem;
		margin-top: 0.3rem;
	}

}
/* large screen*/
@media screen and (min-width: 1025px){

	.text-danger {
		padding-left: 1rem;
		margin-top: 0.3rem;
	}
}

/* End Responsive */



/*------ End Login page --------*/






/*---------Start index page------------*/


.text-welcome {
	display: flex;
	align-items: center;
}
.text-name {
	color:black;
	padding: 0 12px;

}
.account-hover:hover {
		text-decoration: none;
		 background: var(--color-primary);
	 -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.img-asset {
	height: 31.25rem;
}

/* Responsive */
@media screen and (max-width: 767px)
{
	.text-introduce {
		margin-top: 3rem;
	}
	.text-welcome {
		margin-top: 1.5rem;
		margin-bottom: 2rem;
	}
	.img-asset {
		height: 16.25rem;
	}
	.icon-user {
		margin: 0 !important;
	}
	.container-checkbox .checkmark:after {
		left: 0.8rem !important;
   		 top: 0.3rem !important;
	}
	#settingTab {
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;
	}
	#myTab {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}

}

@media screen and (min-width: 768px) and (max-width: 992px)
{

	.icon-user {
		margin: 0 !important;
	}
	.select-category {
		height: 200px !important;
	}
	#dropDownCountries {
		height: 200px !important;
	}
		.container-checkbox .checkmark:after {
		left: 0.8rem !important;
   		 top: 0.3rem !important;
	}	
	


}

@media screen and (min-width: 992px){
	#settingTab {
		margin: 0 auto;
		margin-top: 3rem;
	}
	.settingTab {
		margin-top: 40px;
	}
	.select-category {
		height: 200px !important;
	}
	#dropDownCountries {
		height: 200px !important;
	}
}
/*------------End index page---------------*/




/*-------- Start User page -----------*/

.text-color {
	background: var(--color-primary);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-color:hover{
	opacity: 0.6;
}

/* Start Navbar */

.userpage-logo {
	width: 4.375rem;
	height: 4.375rem;
} 


.navbar-nav {
	align-items: center !important;
}
.li-hover {
    position: relative;
    display: inline-block;
    padding: 5px .4rem;
    background-color: transparent;
    border: 0;
}

.li-hover span{
    position: absolute;
    background-image: var(--color-primary);
    display: block;
    transition: all 0.5s ease;
}

.li-hover span:first-child{
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
}

.li-hover span:nth-child(2){
    right: -1px;
    top: 0;
    width: 2px;
    height: 0;
}
.li-hover span:nth-child(3){
    bottom: 0;
    right: -1px;
    width: 0;
    height: 2px;
}
.li-hover span:last-child{
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
}

.li-hover:hover span:nth-child(odd){
    width: 100%;
}
.li-hover:hover span:nth-child(even){
    height: 100%;
}

.li-hover:hover {
	 background: var(--color-primary);
	 -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.icon-user {
	margin-left: 2%;
}
.dropdown-toggle {
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	padding-top: 0.625rem;
}

.fa-user::before {
    content: "\f007";
    font-size: 40px;
    padding-right: 10px;
    margin-bottom: 5px;
}
.dropdown-item {
	padding: 0.6rem 1.5rem;	
}
.dropdown-menu {
	padding: 0;
}
/* End Navbar */



/* Start header */


.icon {
	height: 4rem;
	width: 3.5rem;
}

.icon:hover {
 	opacity: 0.6;
}

.a-textdecoration {
	text-decoration: none !important;
}


/*
.filter-input:focus {
	border: transparent;
	padding: 2px 2px;
	background-image: linear-gradient(white, white), var(--color-primary);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: none;
	width: 14.4vw;
}
*/
.btn-primary-color {
	border: none;
	background: var(--color-primary);
	color: white;
	padding: 0.45rem 0.6rem;
} 
.btn-primary-color:hover {
	background: linear-gradient(to left, #cc2b5e, #753a88);
    color: white;
    transition: 1s ease;
    opacity: 0.6;
}
.btn-second-color {
	background: #6c757d !important;
}

.btn-secondary:hover {
	opacity: 0.6;
}


/* End header */



/* Start table */
.background-color {
	background: linear-gradient(to left, #cc2b5e, #753a88);
	color: white;
}

.icon-purple:hover {
	text-decoration: none !important;
	opacity: 0.7;
}
.icon-silver:hover {
	background: var(--color-primary);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none !important;
}

/* End table */




/* Start pagination */


.page-item.active .page-link{
	padding: 0.45rem 0.75rem;
	border: 10px solid;
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: var(--color-primary);
}
.page-item .page-link{
	background: var(--color-primary);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.page-link:focus {
	box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%);
}

/* End pagination */




/*---------- End User page -----------*/


/*-----Start Category page -----*/

/*-----End Category page -----*/



/*-----Start Brand page -----*/

/*-----End Category page -----*/



/*------------Product Page----------------*/

.row-margin {
	margin-left: -5px;
}
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid #333;
}


/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background: linear-gradient(to left, #cc2b5e, #753a88);
  border: 0px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 0.6rem;
  top: 0.15rem;
  width: 0.5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tab-common {

	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.nav-link {
	padding: 0.5rem 0.455rem;
	color: black;
}
.nav-link.active {
	background: var(--color-primary);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-color: #d9d9d9 #d9d9d9 #ffffff !important;
	background-color: white;
}


.size-checkbox {
	width: 1rem;
	height: 1rem;
}
.form-control:focus {
	box-shadow: 0 0 0 0.1rem #cc2b5e;      
	border-color: #753a88;   
	border-width: 1px;
}
.richText .richText-editor:focus{
	border-left:none !important;
}

.richText-btn {
	color: black;
}
.richText-btn:hover {
	background: linear-gradient(to left, #cc2b5e, #753a88);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.margin-top {
	margin-top: 2rem;
}
.form-group {
	margin-bottom: 2rem;
	margin-right: -7px;
}


#richText-editor-sizecolor .richText-editor {
	font-size: 18px;
}

#description {
	font-size: 16px;
}
.richText-undo,
.richText-redo,
.richText-help {
	background: var(--color-primary);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.product-nav-link {
	padding: 0.5rem 0.8rem !important;
}
/*------------End Product Page------------*/

/* Start Setting page */


	.mail-content {
	border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9;
	}
	.mailTemplatesTab-item {	
	padding: 0 !important;
	}
	.input-countryname,
	.input-countrycode,
	.input-state,
	.lable-state {
		padding: 0 !important;
	}
	
	
	.form-small {
		display: none;
	}
/* End setting page */

/* Start Footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
.container .row {
	justify-content: center;
}
.text-footer {
	color:white
}
.text-footer:hover{
	background: var(--color-primary);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
	transform: translateY(-10px);
}

/*responsive*/
@media(max-width: 768px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

#footer {
	 margin-top: 20px;
 }

.navbar-brand img {
	width: 50px;
	height: 50px;
}

.li-mobile {
	display: none;
}

/* End Footer */

/* Start Responsive */
@media screen and (max-width: 768px) {
	/* small screen */
	div.full-details { display: none}
	div.less-details { display: block}
	.small-input{
		width: 20rem;
		margin-right: 1rem;
	}
	.col-4 {
		padding: 0 0.5rem;
	}


	.fixed-top {
		left: 1.2rem;
    	right: 1.2rem;
	}
	#thumbnail {
		margin-top: 2rem;
	}
	#general,
	#countries,
	#states, 
	#mailServer,
	#mailTemplates{
		padding: 3rem 2rem !important;
	}
	#dropDownCountries {
		margin-left: 0 !important;
	}
	.country-text {
		margin: 0 !important;
	}
	.btn-loadcountry {
		margin: 1rem 0 !important;
	}
	.input-countryname,
	.input-countrycode,
	.input-state,
	.lable-state {
		padding: 0 !important;
	}
	.form-country {
		margin-left: 0 !important;
	}
	#dropDownCountriesForStates,
	#dropDownStates{
		margin: 0 !important;
	}

	#mailTemplatesTab {
		margin: 0 !important;
	}
	.mail-content {
		margin: 0 !important;
	}
	
	#fieldCountryName,
	#fieldCountryCode,
	#fieldStateName{
		width: 98% !important;
	}
	
	#fieldStateName{
		width: 95% !important;
		margin: 0 !important;
	}
	
	.li-mobile{
		display: inline-block !important;
	}
	
	#dropDownStates,
	#dropDownCountries {
		height: 29px !important;
	}
	.filter-text {
		margin: 1rem 0rem !important;
	}
	.small-screen {
		display: flex;
		align-items: center;
	}
	.form-small {
		display: block;
	}
	.form-large {
		display: none;
	}
	
	.form-state-small {
		display: block;
	}
	.form-state-medium {
		display: none;
	}
	.form-state-large {
		display: none;
	}
	
	.filter-input {
		margin: 1rem 0;
	}

	
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	/* medium screen */
	div.full-details { display: block }
	div.less-details { display: none }
	.hideable-column { display: none}
	
	
	#general,
	#countries,
	#states, 
	#mailServer,
	#mailTemplates{
		padding: 3rem 2rem !important;
	}
	
	.li-mobile{
		display: inline-block !important;
	}
	#labelStateName {
		padding: 0 !important;
	}
	.input-state {
		padding: 0 0.5rem !important;
	}
		.largeandmedium-screen {
		display: flex;
		align-items: center;
	}
	
	.filter-text {
		margin-left: 1rem !important;
	}
	
	.form-small {
		display: block;
	}
	.form-large {
		display: none;
	}
	
	.form-state-small {
		display: none;
	}
	.form-state-medium {
		display: flex;
	}
	
	.form-state-large {
		display: none;
	}
	
	.imput-state {
		margin-left: 0 !important;
	}
	
		.filter-input {
		margin-right: 1rem;
	}
	
	.small-input {
		margin-right: 2rem;
	}
}

@media screen and (min-width: 1025px) {
	/* large screen */
	div.less-details { display: none}
	.hideable-column { display: table-cell}
	
	.largeandmedium-screen {
		display: flex;
		align-items: center;
	}
	.filter-text {
		margin-left: 1rem !important;
	}
	#general,
	#countries,
	#states, 
	#mailServer,
	#mailTemplates {
		margin: 0 auto;
	}
	

	#fieldStateName{
		width: 97% !important;
		margin-left: 0.5rem;
	}
	
	.form-small {
		display: none;
	}
	.form-large {
		display: flex;
		justify-content: space-around;
	}
	
	.form-state-small {
		display: none;
	}
	.form-state-medium {
		display: none;
	}
	.form-state-large {
		display: flex;
		justify-content: space-around;
	}
	.btn-state {
		margin-top: 3rem;
	}
	
	.filter-input {
		margin-right: 1rem;
	}
	
		.small-input {
		margin-right: 2rem;
	}
}

@media (max-width: 1199.98px) {
	.table-responsive-xl {
		display: table !important;
	}
}

#navbar-item{
	position: relative;
}

#navbar-item .navbarx-menu{
	height: 0;
	overflow: hidden;
	transition: all ease .35s;
	position: absolute;
	padding: 0 10px;
	width: 100%;
}

#navbar-item .navbarx-menu a{
	text-decoration: none;
	font-size: 1rem;
	color: black;
	margin-top: 10px;
	border-radius: 5px;
	display: block;
	width: 100%;
	background: white;
	box-shadow:  0 0 5px rgba(0, 0, 0, 0.47);
	padding: 10px;
	transition: all linear .25s;
}

#navbar-item .navbarx-menu a:hover{
	background: #e8e8e8;
}

#navbar-item:hover .navbarx-menu{
	height: 55px;
	top: 100%;
}