<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments :: header_link('Users - Ecommerce Furniture Admin', 'none')"></head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments :: menu_link"></div>

        <div>
            <h2 class="my-4">Users Management</h2>
            <a th:href="@{/users/new}" class="a-textdecoration">
            	<img th:src="@{/images/add-user.png}" class="icon pb-2"/>
            </a>
            &nbsp;&nbsp;
            <a th:href="@{/users/export/csv}" class="px-1 a-textdecoration">
            	<img th:src="@{/images/csv-file.png}" class="icon pb-2"/>
            </a>
            &nbsp;&nbsp;
            <a th:href="@{/users/export/excel}" class="px-1 a-textdecoration">
            	<img th:src="@{/images/xls-file.png}" class="icon pb-2"/>
            </a>
            &nbsp;&nbsp;
            <a th:href="@{/users/export/pdf}" class="px-1 a-textdecoration">
            	<img th:src="@{/images/pdf-file.png}" class="icon pb-2"/>
            </a>
        </div>

        <div th:replace="fragments :: search_form_and_message('users')"></div>
        
        <div class="full-details mt-5">
            <table class="table table-striped table-bordered table-hover table-responsive-xl">
                <thead class="thead-light">
                    <tr>
                    	<th class="hideable-column">
                        <th th:replace="fragments :: column_link('id', 'User ID', 'users', 'tag')"></th>
                        </th>
                        
                        <th>Photos</th>
                        
                        <th class="hideable-column">
                        <th th:replace="fragments :: column_link('email', 'Email', 'users', 'tag')"></th>
                        </th>
                        
                        <th th:replace="fragments :: column_link('firstName', 'First Name', 'users', 'none')"></th>
                        <th th:replace="fragments :: column_link('lastName', 'Last Name', 'users', 'none')"></th>
                        <th>Roles</th>
                        <th th:replace="fragments :: column_link('enabled', 'Enabled', 'users', 'none')"></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${listUsers}">
                        <td class="hideable-column">[[${user.id}]]</td>
                        <td>
                            <img th:src="@{${user.photosImagePath}}" id="thumbnail" class="img-fluid img-thumbnail h-auto" max-width="100%" width="120px" height="120px">
                        </td>
                        <td class="hideable-column">[[${user.email}]]</td>
                        <td>[[${user.firstName}]]</td>
                        <td>[[${user.lastName}]]</td>
                        <td>
                        	<span class="background-color p-2 mt-2">[[${user.roles}]]</span>
                        	
                        </td>
                        <td>
                            <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
                        </td>

                        <td>
                            <div th:replace="fragments :: edit(${user.id}, 'user', '/users/', true)"></div>&nbsp;
                            &nbsp;
                            <div th:replace="fragments :: delete(${user.id}, 'user', '/users/', true)"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


		<div class="less-details"> 
			<div th:each="user : ${listUsers}" class="row row-margin">
				<div class="col-4">
					<img th:src="@{${user.photosImagePath}}" id="thumbnail" class="img-fluid img-thumbnail h-auto" max-width="100%" width="120px" height="120px">
				</div>
				<div class="col-8">
					<div> [[${user.fullName}]] </div>
					<div class="badge badge-secondary mr-2"> [[${user.roles}]] </div>
					<div class="mt-2">
                        <div th:replace="fragments :: status(${user.enabled}, 'user', '/users/')"></div>
						&nbsp;
                        <div th:replace="fragments :: edit(${user.id}, 'user', '/users/', true)"></div>&nbsp;
                        &nbsp;
                        <div th:replace="fragments :: delete(${user.id}, 'user', '/users/', true)"></div>&nbsp;
					</div>
				</div>
				<div>&nbsp</div>
			</div>
		</div>

        <div th:replace="pagination_fragments :: pagination('users', 'users')"></div>

        <div th:replace="modal_fragments :: modal_confirm"></div>


    </div>
<div th:replace="fragments :: footer_link"></div>

    <script type="text/javascript">
        moduleURL = "[[@{/users}]]";
        $(document).ready(() => {
            $(".link-delete").on("click", (e) => {
                e.preventDefault();
                selectedUser = $(e.target);

                showDeleteConfirmModal(selectedUser, "user");
            })

        });

    </script>
    <script type="text/javascript" th:src="@{/js/common-list.js}"></script>

</body>
</html>