<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <head th:replace="fragments :: header_link('Site Settings', 'tag')"></head>
</head>

<body>
    <div class="container-fluid">
        <div>
            <div th:replace="fragments :: menu_link"></div>

            <h2 class="my-4">Site Settings</h2>

        </div>
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="settingTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#general" role="tab">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="description-tab" data-toggle="tab" href="#countries" role="tab">Countries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="images-tab" data-toggle="tab" href="#states" role="tab">States</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="details-tab" data-toggle="tab" href="#mailServer" role="tab">Mail Server</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#mailTemplates" role="tab">Mail Templates</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active p-3" id="general" role="tabpanel">
                <div th:replace="setting/general :: content"></div>
            </div>
            <div class="tab-pane p-2" id="countries" role="tabpanel">
                <h2>Countries</h2>
            </div>
            <div class="tab-pane p-2" id="states" role="tabpanel">
                <h2>States</h2>
            </div>
            <div class="tab-pane p-3" id="mailServer" role="tabpanel">
                <h2>Mail Server</h2>
            </div>
            <div class="tab-pane p-3" id="mailTemplates" role="tabpanel">
                <h2>Mail Templates</h2>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer_link"></div>

    <script th:src="@{/js/common-form.js}"></script>

</body>



</html>