<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <head th:replace="fragments :: header_link('Site Settings', 'tag')"></head>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
    <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>

<body>
    <div class="container-fluid">
        <div>
            <div th:replace="fragments :: menu_link"></div>

            <h2 class="my-4">Site Settings</h2>

        </div>
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="settingTab" role="tablist" style="max-width: 700px; margin: 0 auto">
            <li class="nav-item">
                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#general" role="tab">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="description-tab" data-toggle="tab" href="#countries" role="tab">Countries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="images-tab" data-toggle="tab" href="#states" role="tab">States</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="details-tab" data-toggle="tab" href="#mailServer" role="tab">Mail Server</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#mailTemplates" role="tab">Mail Templates</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="general" role="tabpanel">
                <div th:replace="setting/general :: content"></div>
            </div>
            <div class="tab-pane p-2" id="countries" role="tabpanel">
                <div th:replace="setting/countries :: content"></div>
            </div>
            <div class="tab-pane p-2" id="states" role="tabpanel">
                <div th:replace="setting/states :: content"></div>
            </div>
            <div class="tab-pane p-3" id="mailServer" role="tabpanel">
                <div th:replace="setting/mail_server :: content"></div>
            </div>
            <div class="tab-pane p-3" id="mailTemplates" role="tabpanel">
                <div th:replace="setting/mail_templates/mail_templates :: content"></div>
            </div>
        </div>
    </div>
    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center">
        <div class="toast" role="alert" aria-live="polite" aria-atomic="true" data-delay="3000">
            <div role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body">
                    <span id="toastMessage"></span>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer_link"></div>
    <script>
        contextPath = "[[@{/}]]";
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";

        $(document).ready(function() {
           $("#customerVerifycationContent").richText();
        });
    </script>
    <script th:src="@{/js/common-form.js}"></script>
    <script th:src="@{/js/countries_setting.js}"></script>
    <script th:src="@{/js/states_setting.js}"></script>

</body>



</html>