<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:fragment="header_link(title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>[[${title}]]</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/6.0.0/css/all.css} "/>
    <link th:rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common-scripts.js}"></script>

</head>
<body>
<th th:fragment="column_link(fieldName, columnLabel)">
    <a class="text-dark"
       th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortOrder : reverseSortOrder} + ${keyword != null ? '&keyword=' + keyword : ''}}">
        [[${columnLabel}]]
    </a>

    <span th:if="${sortField == fieldName}"
          th:class="${sortOrder == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th>

<a th:fragment="page_link(pageNum, pageLabel)"
   class="page-link" th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortOrder} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${pageLabel}]]</a>



<div th:fragment="menu_link">
    <form th:action="@{/logout}" th:hidden="true" method="post" name="logoutForm">
        <input type="submit">
    </form>
    <nav class="navbar navbar-expand-lg bg-light navbar-light box-shadow">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.jpg}" class="userpage-logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">
                <li class="navbar-item li-hover">
                    <a class="nav-link" th:href="@{/users}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Users
                    </a>
                </li>

                <li class="navbar-item li-hover">
                    <a class="nav-link" th:href="@{/categories}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Categories
                    </a>
                </li>

                <li class="navbar-item li-hover">
                    <a class="nav-link" th:href="@{/brands}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Brands
                    </a>
                </li>

                <li class="navbar-item li-hover">
                    <a class="nav-link" th:href="@{/products}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Products
                    </a>
                </li>

                <li class="navbar-item li-hover">
                    <a class="nav-link" th:href="@{/customers}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Customers
                    </a>
                </li>

                <li class="navbar-item li-hover">
                    <a class="nav-link" th:href="@{/shipping}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Shipping
                    </a>
                </li>

                <li class="navbar-item li-hover">
                    <a class="nav-link" th:href="@{/orders}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Orders
                    </a>
                </li>

                <li class="navbar-item li-hover">
                    <a class="nav-link" th:href="@{/salesreport}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Salesreport
                    </a>
                </li>

                <li class="navbar-item li-hover">
                    <a class="nav-link" th:href="@{/articles}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Articles
                    </a>
                </li>

                <li class="navbar-item li-hover">
                    <a class="nav-link" th:href="@{/settings}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Settings
                    </a>
                </li>


                <li class="px-2">
                	<span class="fas fa-user fa-2x icon-silver"></span>
                </li>
 
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       sec:authentication="principal.fullName" href=""></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="logoutLink" href="">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="footer_link" >
    <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">affiliate program</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">shipping</a></li>
  	 				<li><a href="#">returns</a></li>
  	 				<li><a href="#">order status</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">living room</a></li>
  	 				<li><a href="#">bedroom</a></li>
  	 				<li><a href="#">kitchen</a></li>
  	 				<li><a href="#">bathroom</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

</div>

</body>
</html>