<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Home - Ecommerce Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/boostrap/js/bootstrap.min.js}"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="">
            <h1>Ecommerce Control Panel</h1>
        </div>

        <div>
            <p>Ecommerce Control Panel - Copyright &copy; EcommerceFurniture</p>
        </div>
    </div>

</body>
</html>