<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments :: header_link('Categories - Ecommerce Furniture Admin')"></head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments :: menu_link"></div>

        <div>
            <h2 class="my-3">Categories Management</h2>
            <a th:href="@{/categories/new}" class="px-1 a-textdecoration">
            	<img th:src="@{/images/add.png}" class="icon pb-2"/>
            </a>
            &nbsp;&nbsp;
            <a th:href="@{/categories/export/csv}" class="px-1 a-textdecoration">
            	<img th:src="@{/images/csv-file.png}" class="icon pb-2"/>
            </a>
        </div>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        
        <div>
            <form th:action="@{/categories/page/1}" class="form-inline m-3">
                <input type="hidden" name="sortField" th:value="${sortField}">
                <input type="hidden" name="sortDir" th:value="${sortOrder}">
                Filter: &nbsp;
                <input type="search" name="keyword" th:value="${keyword}" class="form-control" required>
                &nbsp;&nbsp;
                <input type="submit" value="Search" class="btn btn-search">
                &nbsp;&nbsp;
                <input type="button" value="Clear" class="btn btn-clear" onclick="clearFilter()">
            </form>
        </div>
        
        <div>
            <table class="table table-striped table-bordered table-hover table-responsive-xl">
                <thead class="thead-light">
                    <tr>
                        <th th:replace="fragments :: column_link('id', 'ID', 'categories')"></th>
                        <th th:replace="fragments :: column_link('image', 'Category Image', 'categories')"></th>
                        <th th:replace="fragments :: column_link('name', 'Category Name', 'categories')"></th>
                        <th th:replace="fragments :: column_link('alias', 'Alias', 'categories')"></th>
                        <th th:replace="fragments :: column_link('enabled', 'Enabled', 'categories')"></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category : ${listCategories}">
                        <td>[[${category.id}]]</td>
                        <td>
                            <img th:src="@{${category.imagePath}}" id="thumbnail" class="img-fluid img-thumbnail h-auto" max-width="100%" width="120px" height="120px">
                        </td>
                        <td>[[${category.name}]]</td>
                        <td>[[${category.alias}]]</td>
                        <td>
                            <a th:if="${category.enabled == true}"  class="fa-solid fa-circle-check fa-2x icon-purple a-hover"
                               th:href="@{'/categories/' + ${category.id} + '/enabled/false'}" title="Disable this category"></a>
                            <a th:if="${category.enabled != true}"  class="fa-solid fa-circle-check fa-2x icon-silver"
                               th:href="@{'/categories/' + ${category.id} + '/enabled/true'}" title="Enable this category"></a>
                        </td>
                        <td>
                            <a class="fa-regular fa-pen-to-square fa-2x icon-purple" th:href="@{'/categories/edit/' + ${category.id}}"
                               title="Edit this category"></a>
                            &nbsp;
                            <a class="fa-regular fa-trash-can fa-2x icon-dark link-delete"
                               th:href="@{'/categories/delete/' + ${category.id}}"
                               th:categoryId="${category.id}"
                               title="Delete this category"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center m-4" >
            <span th:if="${totalItems > 0}">Showing categories #[[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
            <span th:unless="${totalItems > 0}">No categories found</span>
        </div>

        <div th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-center">
                    <li th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                        <a th:replace="fragments :: page_link(1, 'First', 'categories')"></a>
                    </li>
                    <li th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                        <a th:replace="fragments :: page_link(${currentPage - 1}, 'Previous', 'categories')"></a>
                    </li>
                    <li th:class="${currentPage != i} ? 'page-item' : 'page-item active'"
                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:replace="fragments :: page_link(${i}, ${i}, 'categories')"></a>
                    <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                    <a th:replace="fragments :: page_link(${currentPage + 1}, 'Next', 'categories')"></a>
                    </li>
                    <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                        <a th:replace="fragments :: page_link(${totalPages}, 'Last', 'categories')"></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="modal fade text-center" id="confirmModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <span id="confirmedText"></span>
                    </div>

                    <div class="modal-footer">
                        <a class="btn btn-success" href="" id="yesBtn">Yes</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div th:replace="fragments :: footer_link"></div>

    <script type="text/javascript">
        $(document).ready(() => {
            $(".link-delete").on("click", (e) => {
                e.preventDefault();
                selectedCategory = $(e.target);
                categoryId = selectedCategory.attr("categoryId");
                $("#yesBtn").attr("href", selectedCategory.attr("href"));
                $("#confirmedText").text("Are you sure to delete this category ID: " + categoryId);
                $("#confirmModal").modal();
            })

        });

        const clearFilter = () => {
            window.location = "[[@{/categories}]]";
        }

    </script>

</body>
</html>