<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en">

<head th:replace="fragments :: header_link('Home - Ecommerce Furniture', 'none')">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<body>
	<div class="container-fluid">

		<div th:replace="fragments :: header_menu"></div>

		<div>
			<h1 class="text-color text-center head-text">Want to become an affiliate</h1>
		</div>
		
		<div class="container content"> 
			<strong>About our programme</strong></p>
			<ul class="list-choose">
			
				<li class="ml-3">
					EcommerFurniture.com is no ordinary furniture retailer. When it comes to your home, we believe you can have it all: great design and quality, at an affordable price
				</li>
				<li class="ml-3">
					Nothing excites us more than our product and connecting with a community as passionate as we are. Which is why we’re always looking for new partners to help us introduce MADE to fresh audiences. Sound like you? Then get involved in our affiliate programme.	
				</li>
				<br>
			</ul>
			
			<strong>How can you get involved?</strong></p>
			<ul class="list-choose">
			
				<li class="ml-3">
				 	Getting started couldn’t be easier. And once you’ve signed up to become a MADE affiliate, you’ll be able to generate your very own unique links. You can add these to your site, share them on social media, or add them to pictures – the choice is yours.	
				 </li>
				
				<li class="ml-3">
					Then, whenever someone uses your links to buy from our site, you’ll earn a commission on their order. It’s really that simple. Oh, and if you don’t know your cookie window from your product feed, our Affiliate team will walk you through it.	 
				</li>
				<br>
			</ul>
			
			<strong>So, what’s in it for you?</strong></p>
			<ul class="list-choose">
			
				<li class="ml-3">
					An attractive commission – with up to 10% per transaction
				</li>
				<li class="ml-3">
					Exclusive offers for your audience
				</li>
				<li class="ml-3">
					All the details on our latest offers, collections and campaigns
				</li>
				<li class="ml-3">
					Real-time performance tracking and reporting	
				</li>
				<li class="ml-3">
					Access to a huge range of creative imagery and banners
				</li>
				<li class="ml-3">
					A dedicated Affiliate Team on hand to help	
				</li>
				<li class="ml-3">
					30-day cookie and data feed – updated every 24 hours	
				</li>
				<li class="ml-3">
					Free to join	
				</li>
			</ul>
		</div>
		<div th:replace="fragments :: footer_menu"></div>


</body>

</html>