<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments :: header_link('Home - Ecommerce Furniture', 'none')">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments :: header_menu"></div>
    </div>

    <div>
        <h1>Shopping by Categories</h1>
    </div>
    <div class="row">
        <div class="col" th:each="category : ${listCategories}">
            <div><img th:src="@{${category.imagePath}}"></div>
            <div>
                <a href="#">[[${category.name}]]</a>
            </div>
        </div>
    </div>

</body>
</html>