<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en">

<head th:replace="fragments :: header_link('Home - Ecommerce Furniture', 'none')">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<body>
	<div class="container-fluid">

		<div th:replace="fragments :: header_menu"></div>

		<div>
			<h1 class="text-color text-center head-text">Privacy Policy</h1>
		</div>
		
		<div class="container content"> 
			<strong>1. General</strong></p>
			<ul class="list-choose">
			
				<li class="ml-3">
					Reliance Retail Limited, having its registered address at 3rd Floor, Court House, Lokmanya Tilak Marg, Dhobi Talao, Mumbai - 400002, Maharashtra, India (“<strong>Reliance</strong>”, “<strong>we</strong>”, “<strong>us</strong>” or “<strong>our</strong>”) is managing and operating the mobile application/website www.urbanladder.com (collectively referred to as the “Urban Ladder Platform”) through which it inter alia facilitates the sale of furniture and related products, (“<strong> Products </strong>”) to the users of the Urban Ladder Platform (“<strong> User </strong>” or “<strong> Users </strong>” or “<strong> you </strong>” or “<strong> your </strong>”).
				</li>
				<br>
				
				<li class="ml-3">
					This privacy policy (“<strong> Privacy Policy </strong>”), together with the Terms, governs your use of the Urban Ladder Platform and describes our policies and procedures on the collection, use, disclosure, processing, transfer, and storage of the information provided to us by you. By using, browsing, accessing, or purchasing from the Urban Ladder Platform, you agree to be bound by the terms of this Privacy Policy and consent to the collection, storage, possession, dealing, handling, sharing, disclosure or transfer of your information in accordance with the terms of the Privacy Policy. We shall not use the User’s information in any manner except as provided under this Privacy Policy. Capitalised terms used herein if not defined shall have the same meaning as ascribed to them under the Terms.
				</li>
				<br>
				
				<li class="ml-3">
					This Privacy Policy sets out the type of information collected from the Users, including the nature of the Sensitive Personal Data or Information (defined hereinafter), the purpose, means and modes of usage of such information and how and to whom we shall disclose or transfer such information
				</li>
				<br>
				
				<li class="ml-3">
					Please take a moment to familiarize yourself with our Privacy Policy. If you do not agree with any provisions of the Terms or this Privacy Policy, we advise you to not use or access the Urban Ladder Platform.
				</li>
				<br>
			</ul>
			
			<strong>2. Type of Information Collected</strong></p>
			<ul class="list-choose">
			
				<li class="ml-3">
				 	You may be asked to provide your information anytime you visit, access, use or browse the Urban Ladder Platform. We may share information and use it consistent with the provisions of this Privacy Policy. We may also combine it with other information to provide and improve our Products, services, content and advertising.
				</li>
				<br>
				
				<li class="ml-3">
					 You agree to provide information, which shall be true, correct, up to date and accurate. You may access, amend, alter or require deletion of your information partially or fully by contacting us at <i style="color: orange"> hello@urbanladder.com </i>.
				</li>
				<br>
				
				<li class="ml-3">
					Urban Ladder Platform is not directed towards minors. We do not knowingly collect Personal Information from any User who is under 18 (Eighteen) years. If we are made aware that we have collected the Personal Information of a person below the age of 18 (Eighteen) years, we will take steps to delete the information within a reasonable time frame	
				</li>
				<br>
				
				<li class="ml-3">
					We may collect a variety of information from you, including your name, password, mailing address, phone number, email address and contact preferences, including any other usage and interaction details with us or our affiliates. We may collect such information which when combined with other pieces of information available with us could reasonably allow you to be identified (“<strong> Personal Information </strong>”). 
				</li>
				<br>
			</ul>
		</div>
		<div th:replace="fragments :: footer_menu"></div>


</body>

</html>