<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments :: header_link('Products - Ecommerce Furniture Admin', 'none')"></head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments :: menu_link"></div>

        <div>
            <h2 class="head-text">Products Management</h2>
            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                <a th:href="@{/products/new}" class="a-textdecoration">
                    <img th:src="@{/images/add.png}" class="icon pb-2"/>
                </a>
                &nbsp;&nbsp;
                <a th:href="@{/products/export/csv}" class="a-textdecoration">
                    <img th:src="@{/images/csv-file.png}" class="icon pb-2"/>
                </a>
            </th:block>
        </div>

        <form th:action="@{'/products/page/1'}" class="form-inline my-3" id="searchForm">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortOrder}">
            <span>Category: &nbsp;</span> 
            <select class="form-control my-3" name="categoryId" id="dropdownCategory">
                <option value="0">All Categories</option>
                <th:block th:each="cat : ${listCategories}">
                    <option th:value="${cat.id}" th:selected="(${cat.id == categoryId})">[[${cat.name}]]</option>
                </th:block>
            </select>
            


            <div class="largeandmedium-screen">
	            <div class="filter-text">Filter: &nbsp;</div> 
	            <div class="small-screen">
	            	<input type="search" name="keyword" th:value="${keyword}" class="form-control small-input" required>
		            <input type="submit" value="Search" class="btn btn-primary-color">
		            &nbsp;&nbsp;
		            <input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()">

	            </div>

            </div>
        </form>

        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <div class="full-details mt-5">
            <table class="table table-striped table-bordered table-hover table-responsive-xl">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Main Image</th>
                        <th th:replace="fragments :: column_link('name', 'Product Name', 'none')"></th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <th>Enabled</th>
                        </th:block>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${listProducts}">
                        <td>[[${product.id}]]</td>
                        <td>
                            <img th:src="@{${product.mainImagePath}}" id="thumbnail" class="img-fluid img-thumbnail h-auto" max-width="100%" width="120px" height="120px">
                        </td>
                        <td>
                            <a class="icon-purple mr-2 link-detail"
                               th:href="@{'/products/detail/' + ${product.id}}"
                                alt="View detail of this product"
                            >[[${product.name}]]</a>
                        </td>
                        <td>[[${product.brand.name}]]</td>
                        <td>[[${product.category.name}]]</td>
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <td>
                                <div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})"></div>
                            </td>
                        </th:block>
                        <td>
                            <a class="link-detail fas fa-file-alt fa-2x icon-purple mr-2"
                               th:href="@{'/products/detail/' + ${product.id}}" alt="View detail of this product"></a>
                            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Sales')">
                               <div th:replace="fragments :: edit(${product.id}, 'product', '/products/', true)"></div>
                            </th:block>
                            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                                &nbsp;
                                <div th:replace="fragments :: delete(${product.id}, 'product', '/products/', true)"></div>
                            </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
		
		<div class="medium-details mt-5">
            <table class="table table-striped table-bordered table-hover table-responsive-xl">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Main Image</th>
                        <th th:replace="fragments :: column_link('name', 'Product Name', 'none')"></th>
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <th>Enabled</th>
                        </th:block>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${listProducts}">
                        <td>[[${product.id}]]</td>
                        <td>
                            <img th:src="@{${product.mainImagePath}}" id="thumbnail" class="img-fluid img-thumbnail h-auto" max-width="100%" width="120px" height="120px">
                        </td>
                        <td>
                            <a class="icon-purple mr-2 link-detail"
                               th:href="@{'/products/detail/' + ${product.id}}"
                                alt="View detail of this product"
                            >[[${product.name}]]</a>
                        </td>
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <td>
                                <div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})"></div>
                            </td>
                        </th:block>
                        <td>
                            <a class="link-detail fas fa-file-alt fa-2x icon-purple mr-2"
                               th:href="@{'/products/detail/' + ${product.id}}" alt="View detail of this product"></a>
                            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Sales')">
                               <div th:replace="fragments :: edit(${product.id}, 'product', '/products/', true)"></div>
                            </th:block>
                            <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                                &nbsp;
                                <div th:replace="fragments :: delete(${product.id}, 'product', '/products/', true)"></div>
                            </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
		<div class="less-details"> 
			<div th:each="product : ${listProducts}" class="row row-margin">
				<div class="col-4">
					<img th:src="@{${product.mainImagePath}}" id="thumbnail" class="img-fluid img-thumbnail h-auto" max-width="100%" width="120px" height="120px">
				</div>
				<div class="col-8">
					<div> [[${product.name}]] </div>
					<div class="badge badge-secondary mr-2">[[${product.brand.name}]] </div>
					<div class="mt-2">
                        <div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})"></div>
						&nbsp;<a class="link-detail fas fa-file-alt fa-2x icon-purple mr-2"
                                 th:href="@{'/products/detail/' + ${product.id}}" alt="View detail of this product"></a>
						<div th:replace="fragments :: edit(${product.id}, 'product', '/products/', true)"></div>
                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            &nbsp;
                            <div th:replace="fragments :: delete(${product.id}, 'product', '/products/', true)"></div>
                        </th:block>
                    </div>
				</div>
				<div>&nbsp</div>
			</div>
		</div>
        <div th:replace="pagination_fragments :: pagination('products')"></div>

        <div th:replace="modal_fragments :: modal_confirm"></div>

        <div class="modal fade" id="detailModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                </div>
            </div>
        </div>

    </div>
    <div th:replace="fragments :: footer_link"></div>

    <script type="text/javascript">
        moduleURL = "[[@{/products}]]";
        $(document).ready(() => {
            $(".link-delete").on("click", (e) => {
                e.preventDefault();
                selectedProduct = $(e.target);

                showDeleteConfirmModal(selectedProduct, "product");
            })

            $(".link-detail").on("click", function(e) {
               e.preventDefault();
               linkDetailUrl = $(this).attr("href");

               $("#detailModal").modal("show").find(".modal-content").load(linkDetailUrl);
            });

            $("#dropdownCategory").on("change", function (e) {
                $("#searchForm").submit();
                
            });

        });

    </script>
    <script type="text/javascript" th:src="@{/js/common-list.js}"></script>

</body>
</html>
