<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en">

<head>

	<head th:replace="fragments :: header_link(${pageTitle}, 'tag')"></head>
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>

<body>
	<div class="container-fluid">
		<div>
			<div th:replace="fragments :: menu_link"></div>

			<h2 class="head-text">Product Management | [[${pageTitle}]]</h2>

		</div>

		<form class="box-shadow-form p-3 mb-5" th:action="@{/products/save}" method="post" enctype="multipart/form-data" th:object="${product}"
			onsubmit="return checkProductUnique(this);" style="max-width: 980px; margin: 0 auto">
			<input type="hidden" th:field="*{id}">
			<input th:if="${product.category != null}" type="hidden" id="categoryId" th:value="${product.category.id}">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active product-nav-link " id="overview-tab" data-toggle="tab" href="#overview"
						role="tab">Overview</a>
				</li>
				<li class="nav-item">
					<a class="nav-link product-nav-link" id="description-tab" data-toggle="tab" href="#description"
						role="tab">Description</a>
				</li>
				<li class="nav-item">
					<a class="nav-link product-nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab">Images</a>
				</li>
				<li class="nav-item">
					<a class="nav-link product-nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab">Details</a>
				</li>
				<li class="nav-item">
					<a class="nav-link product-nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab">Shipping</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content tab-common">
				<div class="tab-pane active p-5" id="overview" role="tabpanel">
					<div th:replace="product/product_overview :: content"></div>
				</div>
				<div class="tab-pane p-5" id="description" role="tabpanel">
					<th:block th:if="${isReadOnlyForSales}">
						<div th:replace="product/product_description_readonly :: content"></div>
					</th:block>

					<th:block th:unless="${isReadOnlyForSales}">
						<div th:replace="product/product_description :: content"></div>
					</th:block>
				</div>
				<div class="tab-pane p-5" id="images" role="tabpanel">
					<th:block th:if="${isReadOnlyForSales}">
						<div th:replace="product/product_images_readonly :: content"></div>
					</th:block>

					<th:block th:unless="${isReadOnlyForSales}">
						<div th:replace="product/product_images :: content"></div>
					</th:block>
				</div>
				<div class="tab-pane p-2" id="details" role="tabpanel">
					<th:block th:if="${isReadOnlyForSales}">
						<div th:replace="product/product_details_readonly :: content"></div>
					</th:block>

					<th:block th:unless="${isReadOnlyForSales}">
						<div th:replace="product/product_details :: content"></div>
							<div>
								<input type="button" class="btn btn-primary-color ml-3" value="Add more detail"
									onclick="addNewDetailSection()">
							</div>
							<input type="hidden" id="counter" value="0">
					</th:block>
				</div>

				<div class="tab-pane p-5" id="shipping" role="tabpanel">
					<th:block th:if="${isReadOnlyForSales}">
						<div th:replace="product/product_shipping_readonly :: content"></div>
					</th:block>

					<th:block th:unless="${isReadOnlyForSales}">
						<div th:replace="product/product_shipping :: content"></div>
					</th:block>
				</div>
				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary-color m-3">
					<input type="button" value="Cancel" class="btn btn-secondary" id="cancelButton">
				</div>
			</div>

		</form>

		<div th:replace="modal_fragments :: modal_dialog"></div>

	</div>
	<div th:replace="fragments :: footer_link"></div>

	<script type="text/javascript" th:src="@{/js/common-form.js}"></script>
	<script type="text/javascript">
		moduleUrl = "[[@{/products}]]";
		checkURL = "[[@{/products/check_product}]]";
		brandModuleUrl = "[[@{/brands}]]";
		defaultImageThumbnailSrc = "[[@{/images/product-image.png}]]";

	</script>
	<script type="text/javascript" th:src="@{/js/product-form-image.js}"></script>
	<script type="text/javascript" th:src="@{/js/product-form-overview.js}"></script>
	<script type="text/javascript" th:src="@{/js/product-form-detail.js}"></script>

</body>



</html>