<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<body>

<div th:fragment="content" th:remove="tag">
    <div class="row" id="divProductImages">
        <div class="col border m-3 p-2">
            <div><label>Main Image: [[${product.mainImage}]]</label></div>
            <div>
                <img class="img-fluid m-2" id="thumbnail" width="180px" height="200px"
                     th:src="@{${product.mainImagePath}}" alt="Main image preview">
            </div>
            <div>
                <input type="file" name="fileImage" id="fileImage"  th:required="${product.mainImage == null}" accept="image/png, image/jpeg">
            </div>

            <input type="hidden" th:field="*{mainImage}">
        </div>

        <th:block th:each="productImage, status : ${product.images}">
            <div class="col border m-3 p-2" th:id="${'divExtraImage' + (status.index + 1)}">
                <div>
                    <label>Extra Image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
                    <a name="linkRemoveExtraImage" class="btn fas fa-times-circle fa-2x icon-silver float-right"
                       title="Remove this image"></a>
                </div>
                <div class="m-2">
                    <img class="img-fluid" th:id="${'extraImage' + (status.index + 1)}" width="180px" height="200px"
                         th:src="@{${productImage.imagePath}}" th:alt="${'Extra image #' + (status.index + 1) + 'preview'}">
                </div>
                <div>
                    <input type="file" name="extraImage" accept="image/png, image/jpeg">
                </div>
                <input type="hidden" name="imageIDs" th:id="'imageId' + ${status.index + 1}" th:value="${productImage.id}">
                <input type="hidden" name="imageNames" th:id="'imageName' + ${status.index + 1}" th:value="${productImage.name}">
            </div>
        </th:block>


        <div class="col border m-3 p-2" th:id="${'divExtraImage' + (numberOfExistingExtraImages + 1)}">	
            <div th:id="${'extraImageHeader' + (numberOfExistingExtraImages + 1)}">
                <label>Extra Image #[[${numberOfExistingExtraImages + 1}]]</label>
            </div>
            <div class="m-2">
                <img class="img-fluid" th:id="${'extraImage' + (numberOfExistingExtraImages + 1)}" width="180px" height="200px"
                     th:src="@{/images/product-image.png}" th:alt="${'Extra image #' + (numberOfExistingExtraImages + 1) + 'preview'}">
            </div>
            <div>
                <input type="file" name="extraImage" accept="image/png, image/jpeg">
            </div>
        </div>
    </div>
</div>

</body>
</html>