<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<body>


<div th:fragment="content" id="divProductDetails">
    <th:block th:each="productDetail, status : ${product.details}">
        <div class="form-inline" th:id="${'divDetailSection' + (status.index + 1)}">
            <label class="m-3">Name:</label>
            <input type="text" name="detailNames" class="form-control w-25" minlength="1" maxlength="255" th:value="${productDetail.name}" required>
            <label class="m-3">Value:</label>
            <input type="text" name="detailValues" class="form-control w-25" minlength="1" maxlength="255" th:value="${productDetail.value}" required>
            <a class="btn fas fa-times-circle fa-2x icon-silver float-right"
               title="Remove this section"
               name="linkRemoveDetail"></a>
            <input type="hidden" name="detailIDs" th:value="${productDetail.id}">
        </div>
    </th:block>

    <div class="form-inline" th:id="${'divDetailSection' + (#lists.size(product.details) + 1)}">
        <label class="m-3">Name:</label>
        <input type="text" name="detailNames" class="form-control w-25" minlength="1" maxlength="255">
        <label class="m-3">Value:</label>
        <input type="text" name="detailValues" class="form-control w-25" minlength="1" maxlength="255">
        <input type="hidden" name="detailIDs" value="0">
    </div>
</div>

</body>
</html>