<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<body>

<div th:fragment="content" th:remove="tag">
    <div class="row">
        <div class="col border m-4 p-3">
            <div><label>Main Image: [[${product.mainImage}]]</label></div>
            <div>
                <img class="img-fluid m-2" id="thumbnail" width="180px" height="200px"
                     th:src="@{${product.mainImagePath}}" alt="Main image preview">
            </div>
        </div>

        <th:block th:each="productImage, status : ${product.images}">
            <div class="col border m-4 p-3">
                <div>
                    <label>Extra Image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
                </div>
                <div class="m-2">
                    <img class="img-fluid" width="180px" height="200px"
                         th:src="@{${productImage.imagePath}}" th:alt="${'Extra image #' + (status.index + 1) + 'preview'}">
                </div>
            </div>
        </th:block>
    </div>
</div>

</body>
</html>