<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en">

<head th:replace="fragments :: header_link('Forgot Password - Ecommerce Furniture', 'none')">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="container-fluid text-center">

		<div th:replace="fragments :: header_menu"></div>

		<div class="m-3">
			<h1 class="head-text text-center text-color">Forgot Password</h1>
		</div>

		<form class="box-shadow-form" th:action="@{/forgot_password}" method="post" style="max-width: 450px; margin: 0 auto; text-align: center">
			<div th:if="${error != null}" class="pt-5">
				<p class="text-color">[[${error}]]</p>
			</div>
			<div th:if="${message != null}" class="pt-5">
				<p class="text-color">[[${message}]]</p>
			</div>
			<div class="rounded p-5">
				<div class="text-left">
					<p>We will be sending a reset password link to your email</p>
				</div>
				<div class="my-5">
					<p>
						<input type="email" name="email" class="form-control" placeholder="Enter your email" autofocus="autofocus">
					</p>
				</div>
				<div>
					<p>
						<input type="submit" value="Send" class="btn btn-primary-color">
					</p>
				</div>
			</div>
		</form>

		<div>&nbsp;</div>
	</div>

	<div th:replace="fragments :: footer_menu"></div>


</body>

</html>