<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en">

<head th:replace="fragments :: header_link('Reset Password - Ecommerce Furniture', 'none')">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="container-fluid text-center">

		<div th:replace="fragments :: header_menu"></div>

		<div class="m-3">
			<h1 class="head-text text-center text-color">Reset Password</h1>
		</div>
	</div>

	<form class="box-shadow-form" th:action="@{/reset_password}" method="post" style="max-width: 420px; margin: 0 auto; text-align: center">
		<input type="hidden" th:value="${token}" name="token">
		<div class="rounded p-5">
			<div class="my-5">
				<p>
					<input type="password" id="password" name="password" class="form-control" placeholder="Enter your new password" required autofocus="autofocus" minlength="8" maxlength="15">
				</p>
			</div>
			<div class="my-5">
				<p>
					<input type="password" class="form-control" placeholder="Confirm your new password" required minlength="8" maxlength="15" oninput="checkPasswordMatch(this)">
				</p>
			</div>
			<div>
				<input type="submit" value="Change Password" class="btn btn-primary-color">
			</div>
		</div>
	</form>

	<div>&nbsp;</div>

	<div th:replace="fragments :: footer_menu"></div>


	<script type="text/javascript">

	const checkPasswordMatch = (confirmPassword) => {
		if (confirmPassword.value != $("#password").val()) {
			confirmPassword.setCustomValidity("Passwords do not match!");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}

	</script>
</body>

</html>