<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head th:replace="fragments :: header_link('Brands - Ecommerce Furniture Admin', 'none')"></head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments :: menu_link"></div>

        <div>
            <h2 class="my-3">Brands Management</h2>
            <a th:href="@{/brands/new}" class="px-1 a-textdecoration">
            	<img th:src="@{/images/add.png}" class="icon pb-2"/>
            </a>
            &nbsp;&nbsp;
            <a th:href="@{/brands/export/csv}" class="px-1 a-textdecoration">
            	<img th:src="@{/images/csv-file.png}" class="icon pb-2"/>
            </a>
        </div>

        <div th:replace="fragments :: search_form_and_message('brands')"></div>

        <div>
            <table class="table table-striped table-bordered table-hover table-responsive-xl">
                <thead class="thead-light">
                    <tr>
                        <th>Brand ID</th>
                        <th>Brand Logo</th>
                        <th th:replace="fragments :: column_link('name', 'Brand Name', 'brands', 'none')"></th>
                        <th>Categories</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="brand : ${listBrands}">
                        <td>[[${brand.id}]]</td>
                        <td>
                            <img th:src="@{${brand.logoPath}}" id="thumbnail" class="img-fluid img-thumbnail h-auto" max-width="100%" width="120px" height="120px">
                        </td>
                        <td>[[${brand.name}]]</td>

                        <td>
                            <span th:each="category : ${brand.categories}" class="badge badge-secondary mr-2">
                                [[${category.name}]]
                            </span>
                        </td>

                        <td>
                            <div th:replace="fragments :: action(${brand.id}, 'brand', '/brands/', true)"></div>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="pagination_fragments :: pagination('brands', 'brand')"></div>

        <div th:replace="modal_fragments :: modal_confirm"></div>


    </div>
    <div th:replace="fragments :: footer_link"></div>

    <script type="text/javascript">
        moduleURL = "[[@{/brands}]]";
        $(document).ready(() => {
            $(".link-delete").on("click", (e) => {
                e.preventDefault();
                selectedBrand = $(e.target);

                showDeleteConfirmModal(selectedBrand, "brand");
            })

        });

    </script>
    <script type="text/javascript" th:src="@{/js/common-list.js}"></script>

</body>
</html>